.toggle-active,
.toggle-inactive {
    cursor: pointer;
    padding-right: 5px;
}

.toggle-active {
    color:blue;
}

.toggle-inactive {
    color:black
}

form {
    display: grid;
}

.form-input {
    padding-bottom: 20px !important;
}

h2 {
    color: black
}